*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# Android Studio generated
*.apk
*.aab
*.ap_
*.dex

# Keystore
*.jks
*.keystore
keystore.properties

# Firebase
google-services.json
